extends layout 

block content 
    h1 Corporation: #{title} 

    if weapons.length  
        h2 Weapons
        ul 
            each weapon in weapons 
                li
                    a(href=weapon.url) #{weapon.name} 
    

    if parts.length  
        h2 Parts
        ul 
            each part in parts 
                li
                    a(href=part.url) #{part.name} 