extends layout 

block content 
    div(class="header-solid")
        h1= title 
    if corporations.length 
        ul(class="ul-container")  
            - for(var i = 0; i < corporations.length; i++) {
                if i % 2 === 0
                    li(class="content-link bg-dark")
                        a(href=corporations[i].url) #{corporations[i].name} 
                else 
                    li(class="content-link bg-light")
                        a(href=corporations[i].url) #{corporations[i].name} 
            - }