extends layout 

block content 
    div(class="header-gradient")
        p(style="text-transform:uppercase") #{part.part_type}
        h1= part.name
    h2(class="details-h2") Part Details   
    p Manufacturer: #{part.manufacturer.name}

    a(href=`${part.url}/update`) Update Part   
    a(href=`${part.url}/delete`) Delete Part   
