extends layout 

block content 
    div(class="header-solid")
        h1 #{title} #{'('} #{subtitle} #{')'}

    if filteredParts.length
        ul(class="ul-container") 
            each part in filteredParts
                li(class="content-link") 
                    a(href=part.url) #{part.name} 
        
