extends layout 

block content 
    p GENERATOR     
    h1= part.name
    h2 Details:   
    p #{part.part_type}
    p Manufacturer: #{part.manufacturer.name}

    a(href=`${part.url}/update`) Update Part   
    a(href=`${part.url}/delete`) Delete Part   
