extends layout 

block content 
    div(class="header-solid")
        h1 #{title} #{'('} #{subtitle} #{')'}

    if filteredParts.length
        ul(class="ul-container") 
            - for(var i = 0; i < filteredParts.length; i++) {
                if i % 2 === 0
                    li(class="content-link bg-dark") 
                        a(href=filteredParts[i].url) #{filteredParts[i].name} 
                else 
                    li(class="content-link bg-light") 
                        a(href=filteredParts[i].url) #{filteredParts[i].name}
            - }
        
