extends layout 

block content 
    div(class="header-solid")
        h1= title

    form(method="post") 
        div(class="form-row")
            label(for="part_name", class="form-label") Part Name 
            input#part_name(type="text", name="part_name", value=part.name, class="form-input text-input") 

        div(class="form-row")
            label(for="part-type", class="form-label") Part Type 
            select#part_type_drop(name="part-type", class="form-input")
                each choice in partTypeOptions 
                    if choice === part.part_type
                        option(value=choice selected="selected") #{choice}
                    else 
                        option(value=choice) #{choice}  

        div(class="form-row")
            label(for="manufacturer", class="form-label") Manufacturer 
            select#manufacturers_drop(name="manufacturer", class="form-input")
                each choice in manufacturerOptions 
                    if choice.name === part.manufacturer.name
                        option(value=choice.name selected="selected") #{choice.name}
                    else 
                        option(value=choice.name) #{choice.name}  



        button(type="submit", class="submit-btn") Save Changes
        form(action=part.url, method="get")
            button(type="submit", class="submit-btn") Cancel Changes

    if errors
        ul
            for error in errors
                li!= error.msg
