extends layout 

block content 
    div(class="header-solid")
        h1= title

    form(method="post") 
        div(class="form-row")
            label(for="part_name", class="form-label") Part Name 
            input#part_name(type="text", name="part_name", class="form-input text-input") 

        div(class="form-row")
            label(for="part_type", class="form-label") Part Type 
            select#part_type_drop(name="part_type", class="form-input")
                each choice in partTypeOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="manufacturer", class="form-label") Manufacturer 
            select#manufacturers_drop(name="manufacturer", class="form-input")
                each choice in manufacturerOptions 
                    option(value=choice.name) #{choice.name}  


        button(type="submit", class="submit-btn") Create Part

    if errors
        ul
            for error in errors
                li!= error.msg
