extends layout 

block content 
    h1= title

    form(method="post") 
        label(for="weapon_name") Weapon Name: 
        input#weapon_name(type="text", name="weapon_name", value=weapon.name) 


        label(for="attached_to") Attached To: 
        select#attached-to-drop(name="attached-to")
            each choice in attachedToOptions
                if choice ===  weapon.attached_to
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  

        label(for="parts-class") Parts Class: 
        select#part-class-drop(name="parts-class")
            each choice in partClassOptions 
                if choice ===  weapon.part_class
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  

        label(for="attack-type") Attack Type: 
        select#attack-type-drop(name="attack-type")
            each choice in attackTypeOptions 
                if choice ===  weapon.attack_type
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  

        label(for="weapon-type") Weapon Type: 
        select#weapon-type-drop(name="weapon-type")
            each choice in weaponTypeOptions 
                if choice ===  weapon.weapon_type
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  

        label(for="reload-type") Reload Type: 
        select#reload-type-drop(name="reload-type")
            each choice in reloadTypeOptions 
                if choice ===  weapon.reload_type
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  

        label(for="additional-effects") Additional Effects: 
        select#additional-effects-drop(name="additional-effects")
            each choice in addtionalEffectsOptions 
                if choice ===  weapon.additional_effects
                    option(value=choice selected="selected") #{choice}
                else 
                    option(value=choice) #{choice}  


        button(type="submit") Save Changes

    if errors
        ul
            for error in errors
                li!= error.msg
