extends layout 

block content 
    h1= title 
    h2 Details 
    p Category: #{weapon.attached_to}
    p Part Class: #{weapon.part_class}
    p Attack Type: #{weapon.attack_type}
    p Weapon Type: #{weapon.weapon_type}
    p Reload Type: #{weapon.reload_type}
    p Additional Effects: #{weapon.additional_effects}
    p Manufacturer: #{weapon.manufacturer.name}

    a(href=`${weapon.url}/update`) Update 
    a(href=`${weapon.url}/delete`) Delete 