extends layout 

block content 
    div(class="header-gradient")
        p(style="text-transform:uppercase") #{weapon.attached_to}
        h1= title 
    h2(class="details-h2") Weapon Details 
    p Part Class: #{weapon.part_class}
    p Attack Type: #{weapon.attack_type}
    p Weapon Type: #{weapon.weapon_type}
    p Reload Type: #{weapon.reload_type}
    p Additional Effects: #{weapon.additional_effects}
    p Manufacturer: #{weapon.manufacturer.name}

    a(href=`${weapon.url}/update`) Update 
    a(href=`${weapon.url}/delete`) Delete 