extends layout 

block content 
    div(class="header-solid")
        h1= title

    form(method="post") 
        div(class="form-row")
            label(for="weapon_name", class="form-label") Weapon Name
            input#weapon_name(type="text", name="weapon_name", class="form-input text-input") 


        div(class="form-row")
            label(for="attached_to", class="form-label") Attached To 
            select#attached_to_drop(name="attached_to", class="form-input")
                each choice in attachedToOptions
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="part_class", class="form-label") Part Class 
            select#part_class_drop(name="part_class", class="form-input")
                each choice in partClassOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="attack_type", class="form-label") Attack Type 
            select#attack_type_drop(name="attack_type", class="form-input")
                each choice in attackTypeOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="weapon_type", class="form-label") Weapon Type 
            select#weapon_type_drop(name="weapon_type", class="form-input")
                each choice in weaponTypeOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="reload_type", class="form-label") Reload Type 
            select#reload_type_drop(name="reload_type", class="form-input")
                each choice in reloadTypeOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="additional_effects", class="form-label") Additional Effects 
            select#additional_effects_drop(name="additional_effects", class="form-input")
                each choice in addtionalEffectsOptions 
                    option(value=choice) #{choice}  

        div(class="form-row")
            label(for="manufacturer", class="form-label") Manufacturer 
            select#manufacturers_drop(name="manufacturer", class="form-input")
                each choice in manufacturerOptions 
                    option(value=choice.name) #{choice.name}  



        button(type="submit", class="submit-btn") Create Weapon

    if errors
        ul
            for error in errors
                li!= error.msg
