extends layout 

block content 
    div(class="header-solid")
        h1 #{title} #{'('} #{subtitle} #{')'}

    if filteredWeapons.length
        ul(class="ul-container") 
            each weapon in filteredWeapons
                li(class="content-link") 
                    a(href=weapon.url) #{weapon.name} 
        
